


{% stylesheets '@scrclubCMSBundle/Resources/public/css/cms/*' filter='yui_css' output='css/cms/main.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% stylesheets '@scrclubCMSBundle/Resources/public/css/bootstrap/*' output='css/cms/bstrap.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}



<link rel="stylesheet" href="{{  asset('bundles/scrclubcms/css/wysiwig/wysiwyg-color.css') }}" />
<link rel="stylesheet" href="{{  asset('bundles/scrclubcms/css/awesome/font-awesome.min.css') }}" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<script>
    var assetPath = "{{asset("")}}";
    var locale = "{{app.request.locale}}";

</script>

<script src="{{ asset('bundles/scrclubcms/js/wysiwig/wysihtml5-0.3.0.js') }}"></script>


{% javascripts '@scrclubCMSBundle/Resources/public/js/jquery/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


<script src="{{ asset('bundles/scrclubcms/js/wysiwig/bootstrap-wysihtml5.js') }}"></script>

{% javascripts '@scrclubCMSBundle/Resources/public/js/*' filter='yui_js'  output='js/compiled/main.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@scrclubCMSBundle/Resources/public/js/fineuploader/*' filter='yui_js' output='js/compiled/fineuploader.js'  %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


{% javascripts '@scrclubCMSBundle/Resources/public/js/password/*' filter='yui_js'  output='js/compiled/password.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@scrclubCMSBundle/Resources/public/js/slug/*' filter='yui_js'  output='js/compiled/slug.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@scrclubCMSBundle/Resources/public/js/alertbox/*' filter='yui_js'  output='js/compiled/alertbox.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@scrclubCMSBundle/Resources/public/js/toggle/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@scrclubCMSBundle/Resources/public/js/form/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


<script src="{{ asset('bundles/scrclubcms/js/select/select2.js') }}"></script>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <style type="text/css">


            body {
                padding-top: 60px;
                padding-bottom: 0px;
            }

        </style>