{% extends "scrclubCMSBundle:cms:config.html.twig" %}

{% block sub_body %}


<fieldset>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{% trans %}langs{% endtrans %}</a>
        </div>
    </div>
    <div class=" well control-group">
        <select class="input-xlarge populate placeholder" multiple="multiple" id="lang_combo">
            {% for key, locale in locales %}

            {% set selected = '' %}
            {% for lang in langs %}
            {% if key == lang.locale %}
            {% set selected = 'selected="selected"' %}
            {% endif %}

            {% endfor %}

            <option {{selected  | raw }} value="{{key}}">{{locale}}</option>
            {% endfor %}
        </select>

        <div class="form-actions">
            <button type="submit" class=" btn btn-primary pull-right" id="submit_lang">{% trans %}save.changes{% endtrans %}</button>
        </div>
    </div>
</fieldset>

<script>

    var translations = {
        "wannado.this": "{{ 'wannado.this'| trans }}",
        "choose.lang" : "{{ 'choose.lang'| trans }}",
        "status" : "{{ 'status'| trans }}",
        "update.success" : "{{ 'update.success'| trans }}"
    }
    var alertTemplate = '{% include 'scrclubCMSBundle:cms:alert_lang_validate.html.twig'  %}';
    var updateLangUrl = "{{ path('update_langs') }}";

</script>

{% javascripts '@scrclubCMSBundle/Resources/public/js/cms/config.js' filter='yui_js'  output='js/compiled/config.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}

