{% extends "scrclubCMSBundle:cms:layout.html.twig" %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="span2 ">
            <ul class="nav nav-list bs-docs-sidenav affix-top"  id="leftmenu">
                <li {% if app.request.attributes.get('_route') == 'scrclub_cms_config' %}class="active"{% endif %}><a href="{{path('scrclub_cms_config')}}"><i class="icon-chevron-right"></i> {{ 'your.site'| trans | capitalize }}</a></li>
                <li {% if app.request.attributes.get('_route') == 'scrclub_cms_langs' %}class="active"{% endif %}><a href="{{path('scrclub_cms_langs')}}"><i class="icon-chevron-right"></i> {{ 'langs'| trans | capitalize }}</a></li>

                <li {% if app.request.attributes.get('_route') == 'scrclub_cms_users' %}class="active"{% endif %}><a href="{{path('scrclub_cms_users')}}"><i class="icon-chevron-right"></i> {{ 'users'| trans | capitalize }}</a></li>
                <li {% if app.request.attributes.get('_route') == 'scrclub_cms_templates' %}class="active"{% endif %}><a href="{{path('scrclub_cms_templates')}}"><i class="icon-chevron-right"></i> {{ 'templates'| trans | capitalize }}</a></li>
                <li {% if app.request.attributes.get('_route') == 'scrclub_cms_analytics' %}class="active"{% endif %}><a href="{{path('scrclub_cms_analytics')}}"><i class="icon-chevron-right"></i> {{ 'analytics'| trans | capitalize }}</a></li>


            </ul>
        </div>
        <div class="span10">
                <div class="tab-content">
                    {% block sub_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->

<script>

    var translations = {
        "wannado.this": "{{ 'wannado.this'| trans }}",
        "choose.lang" : "{{ 'choose.lang'| trans }}",
        "status" : "{{ 'status'| trans }}",
        "update.success" : "{{ 'update.success'| trans }}"
    }
    var alertTemplate = '{% include 'scrclubCMSBundle:cms:alert_lang_validate.html.twig'  %}';
    var updateLangUrl = "{{ path('update_langs') }}";

</script>

{% javascripts '@scrclubCMSBundle/Resources/public/js/cms/config.js' filter='yui_js'  output='js/compiled/config.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}