{% extends "scrclubCMSBundle:cms:layout.html.twig" %}

{% block body %}

<div class="container">

    <div class="featurette" style="min-height:150px">
        <div style="position:absolute">
        <h2 class="featurette-heading" >{% trans %}welcome{% endtrans %} {{ app.user.username }} !<p class="muted" style="font-size:60%">{{config.getSitename()}}</p></h2>
        <p class="lead" id="counter">{% trans %}welcome.text{% endtrans %}</p>
        </div>

        {%  if config.getGgAnalyticsid() is not empty %}
        <div id="charts" class="pull-right" style="position: relative;  top:10px; z-index:-1;">
            <i class="icon-refresh icon-spin"></i>
        </div>
        {%  endif %}
    </div>

    <hr class="featurette-divider">

    <div class="row-fluid page-header">
        <div class="featurette">
            <a href="{{  path('scrclub_cms_addnode')}}" ><button class="btn btn-large pull-right" type="button"><i class="icon-plus"></i> {% trans %}add{% endtrans %} {% trans %}section{% endtrans %}</button></a>
        </div>
    </div>

    <div id="alert-area"></div>
    {% include 'scrclubCMSBundle:cms:nodeChildren.html.twig' with {'tree':tree, 'level':0 } %}
    <hr>

</div>

<script>

    var translations = {
        "wannado.this": "{{ 'wannado.this'| trans }}",
        "delete.success": "{{ 'delete.success'| trans }}",
        "update.success": "{{ 'delete.success'| trans }}",
        "currently" : "{{ 'currently'| trans }}",
        "visitors.online" : "{{ 'visitors.online'| trans }}"

    }
    var deleteNodePath = "{{ path('scrclub_cms_deletenode') }}";
    var updateActiveNodePath = "{{ path('scrclub_cms_updateActiveNode') }}";
    var gg_id = "{{config.getGgAnalyticsid()}}";
    var gs_api = "{{config.getGsApikey()}}";
    var gs_token = "{{config.getGsSitetoken()}}";

</script>
{% javascripts '@scrclubCMSBundle/Resources/public/js/cms/index.js' filter='yui_js'  output='js/compiled/cms.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}




{% endblock %}