<div id="embeddoc-modal-container" >


    {{ getEmbed(document)}}

    <!-- <img src="{{ getThumbnail(document)}}"> -->
    {% if document.id != "" %}
    <hr>
    {% endif %}

    <!-- choose thumnails -->
    <form id="embed-edit-form" action="{{ path('scrclub_cms_updateEmbedPopOver', {mediasetId:mediaset.id, id:document.id}) }}" method="post" {{ form_enctype(form) }} novalidate >
    {{form_widget(form.name, {'attr': {'class': 'span5 text-area-mid'}})}}

    {{form_label(form.url)}}
    {{form_widget(form.url)}}

        <!--
        <button type="submit" class="btn btn-info">Send</button>
        -->

        <script>

            $('#scrclub_cmsbundle_embeddeddocumenttype_name').wysihtml5({
                "font-styles": true,
                "emphasis": true,
                "lists": false,
                "html": false,
                "link": true,
                "image": false,
                "color": false
            });


            $('#media-form-submit').unbind('click');
            $('#media-form-submit').on('click', function(e){

                e.preventDefault();

                var options = {
                    success: function (responseText, statusText, xhr, $form) {


                        $('#embeddoc-modal-container').parent().html(responseText.html);
                        $('#media-form-submit').html("{{ 'save.changes' | trans }}");

                        var mediasetContainer = $('#mediaset-all-' + responseText.mediasetId).find('.media-scroll-container');

                        var mediaContainer =  mediasetContainer.find("#media-" + responseText.documentId);

                        // here we add or update a li element into mediaset

                        if( mediaContainer.length == 0 ) {

                            mediasetContainer.prepend(responseText.media_html);

                        } else {

                            mediaContainer.replaceWith(responseText.media_html);

                        }

                        updateMediasItems(responseText.documentId);
                        assignNodeToMedia();
                        assignRemoveAction();
                        // and there we updates



                    },
                    dataType:'json'
                };


                $('#embed-edit-form').ajaxSubmit(options);
                $('#media-form-submit').html('{{ 'save.changes' | trans }} <i class="icon-refresh icon-spin"></i></a>');

            });

        </script>

</div>
