<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="{{  path('scrclub_cms_homepage')}}"">CMS</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="{{  path('scrclub_cms_homepage')}}"><i class="icon-folder-close-alt"></i> {{ 'sections'| trans | capitalize }}</a></li>
                    <li><a href="{{ path('scrclub_cms_categories') }}"><i class="icon-tags"></i> {{ 'categories'| trans | capitalize }}</a></li>
                    <li><a href="{{ path('scrclub_cms_mediaset') }}"><i class="icon-picture"></i> {{ 'mediasets'| trans | capitalize }}</a></li>
                </ul>

                <ul class="nav pull-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="icon-cogs"></i> {{ 'configuration'| trans | capitalize }}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{path('scrclub_cms_config')}}"><i class="icon-sitemap"></i> {{ 'your.site'| trans | capitalize }}</a></li>
                            <li><a href="{{path('scrclub_cms_langs')}}"><i class="icon-globe"></i> {{ 'langs'| trans | capitalize }}</a>
                            <li><a href="{{path('scrclub_cms_users')}}"><i class="icon-user"></i> {{ 'users'| trans | capitalize }}</a></li>
                            <li><a href="{{path('scrclub_cms_templates')}}"><i class="icon-paste"></i> {{ 'templates'| trans | capitalize }}</a></li>
                            <li><a href="{{path('scrclub_cms_analytics')}}"><i class="icon-tasks"></i> {{ 'analytics'| trans | capitalize }}</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="icon-globe"></i> {{ 'langs'| trans | capitalize }}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">{% if (app.request.locale == 'fr') %}<i class="icon-ok"></i>{%endif%} {{getLocaleName('fr',  app.request.locale)}}</a></li>
                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">{% if (app.request.locale == 'en') %}<i class="icon-ok"></i>{%endif%} {{getLocaleName('en',  app.request.locale)}}</a></li>
                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">{% if (app.request.locale == 'es') %}<i class="icon-ok"></i>{%endif%} {{getLocaleName('es',  app.request.locale)}}</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                            <img class="" width="30" height="30" data-src="holder.js/30x30/text:?" {% if (app.user.image.getWebPath() != "" )%}src="{{asset(app.user.image.getWebPath() | apply_filter('cms_user_minithumb') ) }}" {% endif %}alt="">
                            {{ app.user.username }}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('scrclub_cms_adduser', { 'id': app.user.id }) }}"><i class="icon-user"></i>{{ 'personal.data'| trans | capitalize }}</a></li>
                            <li><a href="{{ path('fos_user_security_logout')}}"><i class="icon-off"></i>{{ 'logout'| trans | capitalize }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
